/**
 * Fonts
 */
@font-face {
  font-family: 'OS-Bold';
  src: url('/assets/fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'OS-ExtraBold';
  src: url('/assets/fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'OS-Light';
  src: url('/assets/fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'OS-Medium';
  src: url('/assets/fonts/OpenSans-Medium.ttf');
}
@font-face {
  font-family: 'OS-Regular';
  src: url('/assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OS-SemiBold';
  src: url('/assets/fonts/OpenSans-SemiBold.ttf');
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

@keyframes spin-pulse {
  0% { transform: rotate(0deg) scale(1); }
  25% { transform: rotate(-5deg) scale(0.89); }
  50% { transform: rotate(0deg) scale(1); }
  75% { transform: rotate(5deg) scale(0.89); }
  100% { transform: rotate(0deg) scale(1); }
}




html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 0.8fr 0.8fr 0.8fr 0.6fr 0.6fr;
  gap: 0.75vw;
}

header {
  grid-column: 1 / 5;
  grid-row: 1;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;

  #title {
    width: 100%;
    text-align: center;
    font-family: 'OS-Bold';
  }

  & ul {
    width: 100%;
    align-content: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0;

    & li {
      list-style-type: none;
      font-family: OS-SemiBold;
      flex: 1;
      text-align: center;
    }
  }
}


aside {
  grid-column: 1;
  grid-row: 2 / 6;

  min-width: 0;
  min-height: 0;

  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  display: inline-block;


  & img {
    width: 100%;
    height: 100%;

    animation: spin-pulse 4s ease-in-out infinite;
  }
}
main {
  grid-column: 2 / 5;
  grid-row: 2 / 6;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;

  & div {
    display: inline-block;
  }

  .lookup {
    height: 30%;
    width: 100%;
    position: relative;
    display: flex;

    .formLeft {
      height: 100%;
      width: 50%;
    }
    .messageRight {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #results {
    height: 70%;
    width: 100%;

    position: relative;

    border: 2px dashed black;
    padding: 5px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.75vw;

    .result {
      border: 3px solid black;
      padding: 2px;

      font-family: OS-Light;
      font-size: 65%;
    }
  }


  /* vAdd page */
  .add {
    height: 90%;
    width: 100%;
    display: flex;

    & div {
      width: 50%;
      height: 100%;

      & h2 {
        font-family: OS-Bold;
        font-size: 80%;
      }
    }
    #personDiv {
      display: none;
    }
  }
  .outputm {
    height: 10%;
    width: 100%;
    text-align: center;
  }
}

footer {
  grid-column: 1 / 5;
  grid-row: 6;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;

  & h1 {
    width: 100%;
    font-size: 180%;

    text-align: center;
    font-family: OS-Bold;

  }
  & h2 {
    width: 100%;
    font-size: 100%;

    top: -12%;
    position: relative;

    text-align: center;
    font-family: OS-Light;
  }
}



/* others */
label {
  position: relative;
  font-family: OS-SemiBold;
}
input {
  margin-bottom: 1.5%;
}


#message {
  text-align: center;
  font-family: OS-Bold;
  font-size: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%;
}



@media (max-width: 500px) {

  #container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 0.7fr;
    gap: 0.75vw;
  }

  header {
    grid-column: 1 / 5;
    grid-row: 1;

    & ul {
      flex-direction: column;
    }
  }

  main {
    grid-column: 1/5;
    grid-row: 2 / 5;
  }

  aside {
    grid-column: 1;
    grid-row: 5;
  }

  footer {
    grid-column: 2 / 5;
    grid-row: 5;
  }

  label {
    font-size: 50%;
  }

  input {
    margin-bottom: 1%;
  }

  main #results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.75vw;

    .result {
      border: 2px solid black;
      font-size: 50%;
    }
  }
}